body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    background: #0F1624;
    color: white;
}

.header {
    text-align: center;
    padding: 40px 0 10px;
}

.header h1 {
    font-size: 2.3rem;
    color: #5cc0ff;
    text-transform: uppercase;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
    padding: 30px;
    max-width: 1300px;
    margin: auto;
}

.producto {
    background: #11151c;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    text-align: center;
    border: 1px solid #1b232e;
    transition: 0.3s ease;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 140, 255, 0.25);
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 4px 10px;
    font-size: 0.75rem;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.hot {
    background: #ff004c;
}

.best {
    background: #0077ff;
}

.precio {
    font-size: 1.1rem;
    margin: 8px 0;
}

.precio span {
    color: #5cc0ff;
    font-weight: bold;
}

.precio del {
    color: #b3b3b3;
    font-size: 0.9rem;
}

.estrellas {
    font-size: 1.2rem;
    color: #ffd700;
}